<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
			<title>
				we code
			</title>
			<link rel="stylesheet"
			
	</head>
	
		<h2 style="padding-left:500px;"> Welcome to my web  </h2>
		<a href="hobbies.html"style="padding-right:175px;">Interests</a>
		<a href="welcome.html"style="padding-right:175px;">News</a>
		<a href="contactme.html"style="padding-right:175px;">Contact</a>
		<a href="aboutme.html"style="padding-right:175px;">About</a>
		<a href="#projects"style="padding-right:175px;">projects</a>

		<h1 style="color:maroon;margin-left:auto;margin-right:auto;width
		:200px">we code <img src="/home/user/Pictures/ola12121121.jpg"width = 200 height = 330></h1>
		

		




		<p id="pr1"></p>	
		
		<h4 style="color:maroon;margin-left:auto;margin-right:auto;width
		70%">Hey! my name is Ola Abdulsalam,i'm from Palestine  </h4>

		
		<a href="http://www.google.com">click me</a>
	
	</body>


</html>