<!DOCTYPE html>
<html>
	<head>
		    <link rel="stylesheet" href="style.css">

			<title>
				we code
			</title>
	</head>
	<body>


		<h2 style="padding-left:500px;"> Welcome to my web  </h2>
		<a href="hobbies.html"style="padding-right:175px;">Interests</a>
		<a href="welcome.html"style="padding-right:175px;">News</a>
		<a href="contactme.html"style="padding-right:175px;">Contact</a>
		<a href="aboutme.html"style="padding-right:175px;">About</a>
		<a href="#projects"style="padding-right:175px;">projects</a>

		<h4 style="color:maroon;margin-left:600px">Interests  </h4>
			
		<p id="pr1"></p>	
		
		<h4 style="color:maroon;margin-left:auto;margin-right:auto;width
		70%">Here you can find my interests, my most important ares of interest is art.For example, i love doing photography, and i also do voluntary work, i help at a school for children with special needs


		.   </h4>

        <h1 style="color:maroon;margin-left:auto;margin-right:auto;width
        :780px"><img src="ooh.jpg"width = 750 height = 450></h1>	
	</body>


</html>